{% for flash_level in ['success', 'info', 'warning', 'error'] %}
    {% for flashMessage in app.session.flashbag.get(flash_level) %}
        <div class="alert alert-{{ flash_level }}">
            {{ flashMessage }}
        </div>
    {% endfor %}
{% endfor %}