{% extends '::base.html.twig' %}


{% block primary_menu %}
    <ul class="nav">
        <li><a href="#">Posts</a></li>
        <li><a href="#">Usuarios</a></li>
    </ul>
{% endblock %}

{% block hero %}
    <h1>SfVlc Admin</h1>
{% endblock %}


{% block footer %}
{% endblock %}